@import url("../font/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: left;
}

html {
  scroll-behavior: smooth;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
input,
select,
a {
  font-family: "HelveticaNeue", sans-serif !important;
  font-style: normal !important;
}

img {
  max-width: 100%;
}
